.slider_box{
    border-radius: 16px;
    overflow: hidden;
    margin: 20px 18px 5px;
    max-height: 100px;
    min-height: 100px;

}

.main_swiper{
    --swiper-navigation-size: 12px;
    --swiper-navigation-top-offset: 43%;
    --swiper-navigation-sides-offset: 0px;
    --swiper-navigation-color: #fff;
    --swiper-theme-color:gray;
}
