
<!-- autoplay  -->

<swiper-container class="main_swiper"  [slidesPerView]="1" [loop]="true" navigation="true" autoplay  pagination>
  <swiper-slide><div class="slider_box"><img src="../../../assets/images/slider1.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slider_box"><img src="../../../assets/images/slider1.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slider_box"><img src="../../../assets/images/slider1.png" alt=""></div></swiper-slide>
 
</swiper-container>