<ion-content [fullscreen]="true">
  <main class="main_section">

    <!-- section first -->
    <div class="top_section">
      <div class="left_section">
        <img src="../../../assets/images/logo.png" alt="logo">
      </div>

      <div class="right_section">
        <ion-button class="registerButton" (click)="register()" expand="block">Register Now</ion-button>
      </div>
    </div>

    <!-- section two -->
    <div class="user_logo_sec">
      <div class="logo_img"><img src="../../../assets/images/userlogo.png" alt=""></div>

      <div class="name_user">Hi, Sumantha</div>
    </div>

    <!-- section three -->
    <div class="login_sec">
      <div class="card_main_log">
        <ul class="nav">
          <li class="nav-item" (click)="selectTab('mPIN')" [ngClass]="{ 'active': selectedTab === 'mPIN' }">MPIN</li>
          <li class="nav-item" (click)="selectTab('Internet Banking')"
            [ngClass]="{ 'active': selectedTab === 'Internet Banking' }">INTERNET BANKING</li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" [ngClass]="{ 'active-tab': selectedTab === 'mPIN' }">
            <div class="mpin-input-container">

              <ion-row class="digit-center">
                <ion-col size="1.5">
                  <ion-input type="tel" mode="ios" class="bottom-border-input" #otp1 required="true"
                    autocomplete="one-time-code" maxLength="1" [(ngModel)]="t1" (ionInput)="countChange($event)"
                    (ionChange)="checkEvent()" (keyup)="otpController($event,otp2,'')"></ion-input>
                </ion-col>
                <ion-col size="1.5">
                  <ion-input type="tel" mode="ios" class="bottom-border-input" #otp2 required="true"
                    autocomplete="one-time-code" maxLength="1" [(ngModel)]="t2" (ionInput)="countChange($event)"
                    (ionChange)="checkEvent()" (keyup)="otpController($event,otp3,otp1)"></ion-input>
                </ion-col>
                <ion-col size="1.5">
                  <ion-input type="tel" mode="ios" class="bottom-border-input" #otp3 required="true"
                    autocomplete="one-time-code" maxLength="1" [(ngModel)]="t3" (ionInput)="countChange($event)"
                    (ionChange)="checkEvent()" (keyup)="otpController($event,otp4,otp2)"></ion-input>
                </ion-col>
                <ion-col size="1.5">
                  <ion-input type="tel" mode="ios" class="bottom-border-input" #otp4 required="true"
                    autocomplete="one-time-code" maxLength="1" [(ngModel)]="t4" (ionInput)="countChange($event)"
                    (ionChange)="checkEvent()" (keyup)="otpController($event,otp5,otp3)"></ion-input>
                </ion-col>
                <ion-col size="1.5">
                  <ion-input type="tel" mode="ios" class="bottom-border-input" #otp5 required="true"
                    autocomplete="one-time-code" maxLength="1" [(ngModel)]="t5" (ionInput)="countChange($event)"
                    (ionChange)="checkEvent()" (keyup)="otpController($event,otp6,otp4)"></ion-input>
                </ion-col>
                <ion-col size="1.5">
                  <ion-input type="tel" mode="ios" class="bottom-border-input" #otp6 required="true"
                    autocomplete="one-time-code" maxLength="1" [(ngModel)]="t6" (ionInput)="countChange($event)"
                    (ionChange)="checkEvent()" (keyup)="otpController($event,'',otp5)"></ion-input>
                </ion-col>
              </ion-row>

            </div>
            <div class="error-message">{{mpinError}}</div>
            <a href="#" class="forgot_link">Forgot Mpin</a>
          </div>
          <div class="tab-pane" [ngClass]="{ 'active-tab': selectedTab === 'Internet Banking' }">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="input-field">
                <input type="text" formControlName="username" placeholder="Customer ID" class="bottom-border-input">

              </div>
              <div class="input-field">
                <input type="password" formControlName="password" placeholder="Password" class="bottom-border-input">
              </div>
            </form>
            <div class="error-message">{{ errorMessage }}</div>
            <ion-button class="registerButton" (click)="login()" expand="block" type="submit">Login</ion-button>
            <a href="#" class="forgot_link">Forgot Internet banking Credentials..</a>
          </div>
        </div>
      </div>
   </div>


    <!-- section four -->

    <div class="bio_matric_logo">
      <img src="../../../assets/images/thumb.png" alt="">
    </div>

    <!-- section five -->
    <app-cards></app-cards>

    <app-imgswiper></app-imgswiper>

  </main>
</ion-content>