ion-content {
    --background: #c00015;

    //common css
    .button-solid {
        --background: #042a68;
        --color: var(--ion-color-primary-contrast, #fff);
        --border-radius: 50px;
        --padding-start: 16px;
        --padding-top: 6px;
        --padding-bottom: 6px;
        --padding-end: 16px;
        min-height: auto;
        font-size: 12px;
        font-weight: 700;
        text-transform: capitalize;

    }

    .card_main_log {
        border-radius: 20px;
        margin: 0 auto;
        background: #00000070;
    }


    //main section start here
    .main_section {
        max-width: 1024px;
        margin: auto;
        padding: 0 16px;

        // section first

        .top_section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;

            .right_section {}
        }



        // section second
        .user_logo_sec {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 14px;

            .logo_img {}

            .name_user {
                margin-left: 14px;
                font-size: 18px;
                font-weight: 500;
                color: #fff;
            }
        }




        // section third
        .login_sec {
            margin-top: 28px;
            padding: 0 32px;

            .card_main_log {
                border-radius: 20px;
                margin: 0 auto;
                background: #00000070;

                .nav {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    margin: 0;
                    justify-content: space-between;

                    .nav-item {
                        cursor: pointer;
                        width: 100%;
                        text-align: center;
                        font-size: 12px;
                        padding: 12px 0;
                        color: #fff;

                        &:nth-child(1) {
                            border-right: 1px solid #fff;
                        }

                        &.active {
                            border-bottom: 1px solid #fff;
                            color: #fff;
                        }
                    }
                }
            }







            .tab-content {
                margin-top: 10px;

                .tab-pane {
                    display: none;

                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    padding: 0 28px 20px;

                    &.active-tab {
                        display: flex;
                    }

                    .mpin-input-container {
                        display: flex;
                        gap: 5px;
                        margin: 10px 0;

                        input {
                            width: 20px;
                        }
                        .digit-center{
                            display: flex;
                            justify-content: center;
                        }
    
                    }

                   
                    .bottom-border-input {
                        border: none;
                        border-bottom: 1px solid #ffafb8;
                        padding: 5px;
                        margin: 5px 0;
                        width: 100%;
                        background: transparent;
                        outline: none;
                        color: #fff;

                        /* Add styles for placeholder text */
                        &::placeholder {
                            color: #ffafb8;
                            text-align: center;
                            text-transform: uppercase;
                            opacity: 0.5;
                            font-size: 10px;
                        }

                    }

                    .error-message {
                        color: #ff4136;
                        font-size: 14px;
                        margin-top: 10px;
                      }

                }


                .registerButton {
                    margin-top: 10px;
                }

                .forgot_link {
                    color: #fff;
                    font-size: 10px;
                    margin-top: 12px;
                }
            }




        }


        // section four
        .bio_matric_logo {
            text-align: center;
            margin-top: 23px;
        }


        // section five
        //         .card_main_log_wrap{
        //             margin-top: 28px;
        //             padding: 0 32px;

        //             .card_main_log{
        //                 display: flex;
        //     flex-flow: row wrap;
        //     justify-content: space-between;
        //     padding: 14px 10px;


        // .card_view{
        //    text-align: center;
        //    flex: 1 0 25.33%;
        //    margin: 10px;
        //    display: flex;
        //    flex-flow: column;
        //    align-items: center;

        //     .img_block{
        //         background-color: #fff;
        //         padding: 5px;
        //         border-radius: 8px;
        //         max-width: 64px;
        //         img{
        //             max-width: 100%;
        //         }
        //     }
        //     .bottom_text{
        // color: #fff;
        //     margin-top: 12px;
        //     font-size: 12px;
        //     font-weight: 600;
        //     max-width: 64px;
        //     }

        // }
        //             }
        //         }
    }
}

.imageSwipperWrap{
    padding-bottom: 20px;
}


